.widget-form-container textarea[name="summary"],
.widget-form-container .html-edit
{
    min-height: 200px;
    font-family: verdana;
    line-height: 13px;
    color: black;
}

.widget-form-container label {
    color: #C01313;
    font-weight: bold;
}

.widget-form-container form {
    margin-bottom: 0px;
}

.widget-form-container input,
.widget-form-container select,
.widget-form-container textarea,
.widget-form-container .html-edit {
    border: 0px;
    border-bottom: 1px solid #ccc;
    background: transparent;
    margin-bottom: 20px;
}

widget-form-container legend:first-child {
    margin-top: 35px;
}

.widget-form-container legend {
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 25px;
}