.button.new-item,
.button.new-item:active,
.button.new-item:visited
{
    padding: 2px 8px;
    top: 2px;
    float:right;
    position: relative;
}


.sortable-list-widget .list-head td {
    cursor: pointer;
}



ul.pager {
    list-style: none;
    padding: 0px;
    overflow:hidden;
}

ul.pager li {
    float: left;
    margin: 2px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

ul.pager li a {
    height: 100%;
    width: 100%;
    line-height: 24px;
    text-align: center;
    display: block;
    border: 1px solid #999;
    text-decoration: none;
    color: #4F5155;
}


ul.pager li.current {
    border: 1px solid #B46753;
    background: #E13300;
    color: white;
}

ul.pager li:hover {
    color: white;
}

ul.pager li.unavailable {
   color: #999;
   cursor: default;
}

ul.pager li:hover a {
    color: white;
    border: 1px solid #B46753;
    background: #E13300;
}

ul.pager li.current:hover {
    background: #963B20;
}