.list {
    width: 100%;
    font-size: 14px;
}

.list-head td {
    padding-bottom: 2px;
    font-weight: bold;
    color: #C01313;
    font-size: 13px;
}

.list-item td {
    padding-left: 10px;
}

.list-item {
    cursor: pointer;
    height: 25px;
}

.list-item.selected {
    cursor: auto;
    color: white;
    background: #E13300;
}

.list-item a {
    word-wrap: break-word;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px 10px;
    border: 1px solid #B46753;
    background: #E13300;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    max-width: 70px;
    float: left;
    text-align: center;
}

.list-item.selected a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px dashed #fff;
    background: transparent;
}

.list-item a:hover {
    background: #963B20;
}

.list-item.selected a:hover {
    background: #963B20;
}