#top form {
    overflow: hidden;
}

#top form .field {
    float: left;
    width: 220px;
    margin-right: 20px;
}

#left_info {
    float: left;
    width: 50%;
}

#left_info .widget {
    margin-right: 0px;
}

#right_info {
    float: left;
    width: 50%;
}

textarea[name="summary"] {
    min-height: 500px;
}