/* Structure */
body {
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
    margin: 0px;
    background: #e8e8e8;
}

#top-bar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    clear: both;
    background: #fafafa;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 0 2px #D0D0D0;
}

#app-name {
    margin-top: 0px;
    float: left;
}

#app-name a {
    color: #C40000;
    text-decoration: none;
}

#after-logo {
    overflow:hidden;
    padding-left: 30px;
    padding-right: 10px;
}

#top-bar .communicating-widget {
    float: left;
    width: 100%;
}

#top-bar .communicating-widget h3,
#top-bar .communicating-widget label {
    display: none;
}

#top-bar .communicating-widget input {
    outline: 0px;
    text-indent: 10px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    background: #ECEBEB;
}

#top-bar .communicating-widget input:focus {
    background: #e0e0e0;
}


#page-content {
    height: 100%;
    overflow: hidden;
}

#sidebar {
    float: left;
    width: 180px;
    border-right: 1px solid #A5A2A1;
    box-shadow: 0 0 2px #D0D0D0;
    height: 100%;
    background: #f8f8f8;
}

#sidebar .widget {
    padding: 0px;
    background: #f8f8f8;
}

#sidebar .widget h3 {
    padding-bottom: 10px;
    margin-bottom: 0px;
    display: none;
}

#content {
    margin-left: 180px;
    overflow: hidden;
}

.widget {
    border: 1px solid #bbb;
    box-shadow: 0 0 2px #D0D0D0;
    padding: 10px;
    padding-top: 5px;
    margin: 10px;
    background: #fafafa;
}

.widget h3 {
    border-bottom: 1px solid #999;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 35px;
    height: 35px;
    cursor: pointer;
}


#sidebar .widget {
    border: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0 0;
    margin: 0px;
    
}

/* ui style */
input[type="submit"],
.button,
.button:visited,
.button:active
{
    background: #E13300;
    padding: 5px;
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #B46753;
    text-decoration: none;
}

input[type="submit"]:hover, .button:hover {
    background: #963B20;
}

input, select, textarea {
    border: 1px solid #999;
    border-radius: 0px;
}

/* Form */

input[type="submit"] {
    margin-top: 20px;
}

input, select, textarea {
    width: 100%;
}

textarea {
    min-height:200px;
}

.html-edit {
    min-height: 200px;
}

label {
    display: block;
}

progress {
    height: 25px;
    width: 100%;
}

/* -- search widget -- */

#top .widget div[data-widget-name="search"].widget-form-container h3 {
    display: none;
}

#top .widget div[data-widget-name="search"] form {
    overflow: hidden;
}

#top .widget div[data-widget-name="search"] .field {
    float: left;
    width: 15%;
    margin-right: 0px;
}

#top .widget div[data-widget-name="search"] .field:first-child {
    width: 83%;
    margin-right: 2%;
}

#top .widget div[data-widget-name="search"] .field:first-child input {
    height: 27px;
}