ul.nav {
    padding-left: 0px;
    border-bottom: 0px;
    margin-top: 0px;
}

ul.nav li {
    background: #999;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #ccc;
}

ul.nav li a {
    padding: 10px;
    display:block;
    background: white;
    color: #AAA;
    text-decoration: none;
}

ul.nav li a:hover,
ul.nav li a.selected
{
    background: #E13300;
    color: white;
}

ul.nav li a.selected:hover {
    background: #963B20;
}